@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.modalTransition {
    transition: opacity 75ms linear,transform .15s ease-in;
}

.modalTextGreyInfo{
    color: #FFFFFFB3;
}

.table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display: none
}
.customTextShadow {
    -webkit-text-stroke: 0.5px black;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('https://res.cloudinary.com/dev6yhoh3/image/upload/v1702668768/qyymppedwuum7dmwyzvj.jpg');
    background-size: cover;
    /*filter: blur(10px);*/
    opacity: 0.5;
}

